body{background-repeat: no-repeat;background-attachment: fixed; background-size: cover;}
h1{text-align: center; color:blueviolet}
.negrita{font-weight: bold;font-size: 15px; color: white;}
ul{color: palevioletred; text-align: left; font-size: 20px; text-align:start;}
.img{display: flex;justify-content: center;}
.img2{width: 350px;}
a{font-size: 40px; color: yellow;}
.arriba{text-align: center;}
.a2{color: blue; font-size: 20px;}
