.titulo{text-align: center; background-color: green; font-size: 60px; font-family: 'Imprint MT Shadow';}
.h{text-align: center; font-size: 30px; color: yellow; font-family: 'Castellar';}
.integrantes{text-align: center; color: aqua;}
.integrantes2{ font-size: 20px; list-style-type: none;}
p{color: white; font-family: 'Angsana New'; font-size: 20px;}
a{color: white; font-size: 30px}
.historia{color: yellowgreen;}
.lo{color: brown;}
.lo2{color: blue;}
.imagen1{text-align: center;}
.imagen2{text-align: center;}
.video{text-align: center;}
h1{font-size: 40px;}