body{background-attachment: fixed; background-repeat: no-repeat; background-size: cover;}
.titulo{text-align: center; font-family: 'Imprint MT Shadow'; font-size: 50px;}
.sub1{color: aqua; font-family: 'castellar'; text-align: center;}
.sub2{color: brown; font-family: 'castellar';}
.sub3{color: beige; font-family: 'castellar'; background-color: gray; text-align: center;}
.sub4{color: blueviolet; font-family: 'castellar';}
.p1{color: white; justify-content: right; font-family: 'Angsana New'; font-size: 20px;}
.links{ font-size: 25px; list-style-type: none;}
a{color:yellowgreen}
ul{list-style-type:'🎸';}
.contenedor{display: flex; justify-content: space-between; }
.imagen{width: 290px;}
.imagen2{display: flex; justify-content: center;}
.contenedor2{display: flex;justify-content: center;}
.imagen3{width: 300px;}
