 .titulo1{text-align: center; background-color: brown; font-size: 40px; font-family: 'Imprint MT Shadow';}
 .fondo{background-repeat: no-repeat; background-attachment: fixed;}
 .p1{font-size: 20px;}
 .integrantes {list-style-type:'🎸'; font-size: 20px;}
 .lo{text-align: center;}
 .lo2{text-align: center; margin: 30px; font-size: 20px;}
 .ul{text-align: center; list-style-type: none;}
 a{color:brown; font-size: 30px;}
 .contenedor{text-align: center;}
 .imagen{width: 35%;}
 .sub{font-family: 'Castellar';}
 p{font-family: 'Angsana New'; font-size: 15px;}