.p1{font-size: 30px; color:black; text-align: center; list-style-type: none;  margin: 60px;;}
.span{font-weight: bold; color: white; background-color: gray;}
.span2{color: aquamarine;}
.titulo1{text-align: center;font-size: 60px; color:blueviolet;font-family: 'Imprint MT Shadow';}
.titulo2{font-size: 25px; text-align: center; font-family:'Castellar' ;}
.logos{display: flex; justify-content: space-between;}
.unap1{width: 200px;}
.fisi1{width:120px}
a{color: blue; font-size: 30px;}
.vinc{text-align: center; list-style-type: none; font-size: 50px;}
.imagen-titulo{float: right; width: 30%; height: 350px; border-radius: 5%;}
.titulo3{display: flex; justify-content: space-between;}
